.menu(v-if='props', :class='{"menu--family-fun-event": $route.path.includes("/mouth-guard-registration")}')
  .menu__overlay
    transition(name='title-fade')
      .menu__title(
        v-if='!$store.state.menu && ($route.path != "/" && !$route.path.includes("/covid-19-updates") && !$route.path.includes("/virtual-services") && !$route.path.includes("/videos"))'
        :class='{"menu__title--white": $route.path === "/treatments" || $route.path === "/mattiacio-difference", "menu__title--family-fun-event": $route.path.includes("/mouth-guard-registration")}'
      ) {{ $route.name }}
    .menu__appt(v-if='$route.path.includes("/virtual-services")' :class='{"menu__appt--is-visible": !$store.state.menu && $route.path != "/contact-us" && $route.path != "/", "menu__appt--white": $route.name != "Treatments" }', @click='makeAppt')
      span Make an Appointment
      Icon.menu__appt-icon(name='arrow')
  .menu__container(:class='{ "menu__mouth-guard": $route.path.includes("/mouth-guard-registration") }')
    .menu__link-wrapper(
      v-for='(link, i) in links'
      :key='i'
      v-if='link.navigation'
      :style="styleObject"
      :class='{"active": $route.name  === link.name && !$store.state.menu, "menu__link-wrapper--current": $route.name === link.name, "not-active": $route.name  != link.name && $store.state.menu}'
      )
      .menu__link-container(v-if='link.name === "About Us"')
        video.menu__link-video(loop muted autoplay)
          source(:src='props.acf.hero_video' type='video/mp4')
        .menu__link-overlay
        .menu__link-expanded-overlay  
        .menu__link(
          v-on:click='closeMenu(link)') {{ link.name }}
        .menu__submenu(v-if='link.children')
          .menu__submenu-link(
            v-for='(item, i) in link.children'
            v-html='item.label'
            v-on:click='closeMenu(item)'
            :key='i')
      .menu__link-container(
        v-if='link.name != "About Us"'
        :class='{"menu__link-container--disabled": !$store.state.menu}'
        :style="{backgroundImage: 'url(' + link.url + ')'}"
        ) 
        .menu__link-overlay
        .menu__link-expanded-overlay
        .menu__link(
          v-on:click='closeMenu(link)') {{ link.name }}
        .menu__submenu(v-if='link.children')
          .menu__submenu-link(
            v-for='(item, i) in link.children'
            v-html='item.label'
            v-on:click='closeMenu(item)'
            :key='i')
          a.menu__submenu-link(
            v-if='link.name === "Contact Us"'
            v-for='(item, i) in link.children'
            :href='item.path'
            target='_blank'
            ) {{item.item}}
  .menu__social-links(:class='{"active": $store.state.menu}')
    a.menu__social-link(v-for='(link, i) in props.acf.social_links', :href='link.href' target='_blank')
      Icon(:name='link.icon', :class='"menu__" + link.label')
              
