.contact-form
  form.contact-form__form(@submit.prevent='validate', method='post')
    
    .contact-form__group
      input.contact-form__input(
        name='full-name'
        v-model='fullname'
        v-validate="'required|alpha_spaces'"
        :class="{ 'input': true, 'contact-form__input--error': errors.has('full-name') }"
        type='text'
        placeholder='Full Name')
      .contact-form__error-container  
        span(v-show="errors.has('full-name')") Full name is required.

    .contact-form__group
      input.contact-form__input(
        name='phone'
        v-model='phone'
        v-validate='{required: true, regex: /^[2-9]\\d{2}-\\d{3}-\\d{4}$/}'
        :class="{ 'input': true, 'contact-form__input--error': errors.has('phone') }"
        type='phone'
        placeholder='Phone')
      .contact-form__error-container  
        span(v-show="errors.has('phone')") Valid phone number is required.

    .contact-form__group
      input.contact-form__input(
        name='email'
        v-model='email'
        v-validate="'required|email'"
        :class="{ 'input': true, 'contact-form__input--error': errors.has('email') }"
        placeholder='Email Address')
      .contact-form__error-container  
        span(v-show="errors.has('email')") Valid email is required.
        
    .contact-form__group
      p First Time Patient?
      .contact-form__radio-group 
        input.contact-form__input--radio(
          name='newPatient'
          v-model='newPatient'
          value='Yes'
          type='radio')
        span.contact-form__radio-overlay
        label.contact-form__label Yes
      .contact-form__radio-group   
        input.contact-form__input--radio(
          name='newPatient'
          v-model='newPatient'
          value='No'
          type='radio')
        span.contact-form__radio-overlay
        label.contact-form__label No

    .contact-form__group
      textarea.contact-form__textarea(
        name='message'
        v-model='message',
        v-validate="'required'"
        :class="{ 'contact-form__textarea--error': errors.has('message') }"
        type='textarea'
        rows='4'
        placeholder='Message')
      .contact-form__error-container
        span(v-show="errors.has('message')") Send us a message!
        
    .contact-form__button-group
      button.contact-form__submit-button(type='submit', :disabled='formSubmitted') 
        span SUBMIT
      .contact-form__spinner(v-if='formSubmitted')
