.contact-interview-form
  form.contact-interview-form__form(@submit.prevent='validate', method='post')

    .contact-interview-form__group
      label.contact-interview-form__label Did Mattiacio Orthodontics meet or exceed your expectations? Please explain.    
      textarea.contact-interview-form__textarea(
        name='message1'
        v-model='message1',
        :class="{ 'contact-interview-form__textarea--error': errors.has('message1') }"
        type='textarea'
        rows='2')

    .contact-interview-form__group
      label.contact-interview-form__label Was there anything we could have done better to improve your overall experience?
      textarea.contact-interview-form__textarea(
        name='message2'
        v-model='message2',
        :class="{ 'contact-interview-form__textarea--error': errors.has('message2') }"
        type='textarea'
        rows='2') 

    .contact-interview-form__group
      label.contact-interview-form__label What was the best part about your experience with Mattiacio Orthodontics?
      textarea.contact-interview-form__textarea(
        name='message3'
        v-model='message3',
        :class="{ 'contact-interview-form__textarea--error': errors.has('message3') }"
        type='textarea'
        rows='2')

    .contact-interview-form__group
      label.contact-interview-form__label Would you have confidence in recommending Mattiacio Orthodontics to a friend or family member for their orthodontic care?
      .contact-interview-form__radio-group 
        input.contact-interview-form__input--radio(name='radiographs' v-model='radiographs' value='Yes' type='radio'  v-validate="'required'")
        span.contact-interview-form__radio-overlay( :class="{ 'input': true, 'contact-interview-form__radio-overlay--error': errors.has('radiographs') }")
        label.contact-interview-form__label Yes, I would like to make a referral
      .contact-interview-form__radio-group   
        input.contact-interview-form__input--radio(name='radiographs' v-model='radiographs' value='No' type='radio')
        span.contact-interview-form__radio-overlay( :class="{ 'input': true, 'contact-interview-form__radio-overlay--error': errors.has('radiographs') }")
        label.contact-interview-form__label No, I'd rather not
      .contact-interview-form__error-container  
        span(v-show="errors.has('radiographs')") Please select one Option.          

    .contact-interview-form__group(v-if="radiographs === 'Yes'")
      label.contact-interview-form__label Thank you for your willingness to spread the word about Mattiacio Orthodontics! To express our appreciation, we'd like to offer you a $25 Visa Gift Card for providing the contact information of a family member (non-immediate) or friends contact info that you trust us to take care of. It's the best compliment we could EVER receive. *If you do not wish to enter a name, simply leave the fields blank and submit the form*

    .contact-interview-form__group(v-if="radiographs === 'Yes'")
      input.contact-interview-form__input(
        name='first-name'
        v-model='firstname'
        v-validate="'required'"
        :class="{ 'input': true, 'contact-interview-form__input--error': errors.has('first-name') }"
        type='text'
        placeholder='First Name')
      .contact-interview-form__error-container  
        span(v-show="errors.has('first-name')") First Name is required.

    .contact-interview-form__group(v-if="radiographs === 'Yes'")
      input.contact-interview-form__input(
        name='last-name'
        v-model='lastname'
        :class="{ 'input': true, 'contact-interview-form__input--error': errors.has('last-name') }"
        type='text'
        placeholder='Last Name')

    .contact-interview-form__group(v-if="radiographs === 'Yes'")
      input.contact-interview-form__input(
        name='email'
        v-model='email'
        v-validate="'required'"
        :class="{ 'input': true, 'contact-interview-form__input--error': errors.has('email') }"
        placeholder='Email / Phone #')
      .contact-interview-form__error-container  
        span(v-show="errors.has('email')") Email/phone is required.  

    .contact-interview-form__group(v-if="radiographs === 'Yes'")
      input.contact-interview-form__input(
        name='referby'
        v-model='referby'
        v-validate="'required'"
        :class="{ 'input': true, 'contact-interview-form__input--error': errors.has('referby') }"
        type='text'
        placeholder='Referred by')
      .contact-interview-form__error-container  
        span(v-show="errors.has('referby')") Refer By field is required.                            
        
    .contact-interview-form__button-group
      button.contact-interview-form__submit-button(type='submit', :disabled='formSubmitted') 
        span Submit
      .contact-interview-form__spinner(v-if='formSubmitted')
        span Sending
