.sponsor-form
  form.sponsor-form__form(@submit.prevent='validate', method='post')
    
    .sponsor-form__group
      input.sponsor-form__input(
        name='full-name'
        v-model='fullName'
        v-validate="'required|alpha_spaces'"
        :class="{ 'input': true, 'sponsor-form__input--error': errors.has('full-name') }"
        type='text'
        placeholder='Your Name')
      .sponsor-form__error-container  
        span(v-show="errors.has('full-name')") Your name is required.

    .sponsor-form__group
      input.sponsor-form__input(
        name='patient-name'
        v-model='patientName'
        placeholder="Patient's Name")
      .sponsor-form__error-container  

    .sponsor-form__group
      input.sponsor-form__input(
        name='contact-info'
        v-model='contactInfo'
        v-validate="'required'"
        :class="{ 'input': true, 'sponsor-form__input--error': errors.has('contact-info') }"
        placeholder='Email Address')
      .sponsor-form__error-container  
        span(v-show="errors.has('contac-info')") Phone or Email is required.
        
    .sponsor-form__group
      input.sponsor-form__input(
        name='event-name'
        v-model='eventName'
        placeholder="Event")
      .sponsor-form__error-container
        
    .sponsor-form__group
      input.sponsor-form__input(
        name='date'
        v-model='date'
        placeholder="Date of Event"
        type='date')  
      .sponsor-form__error-container
        
    .sponsor-form__group
      input.sponsor-form__input(
        name='cause'
        v-model='cause'
        placeholder="Cause/Nature of organization")
      .sponsor-form__error-container
        
    .sponsor-form__group
      input.sponsor-form__input(
        name='website'
        v-model='website'
        placeholder="Website Associated with the Event/School/Foundation")
      .sponsor-form__error-container                
        
    //- .sponsor-form__group
    //-   p First Time Patient?
    //-   .sponsor-form__radio-group 
    //-     input.sponsor-form__input--radio(
    //-       name='newPatient'
    //-       v-model='newPatient'
    //-       value='Yes'
    //-       type='radio')
    //-     span.sponsor-form__radio-overlay
    //-     label.sponsor-form__label Yes
    //-   .sponsor-form__radio-group   
    //-     input.sponsor-form__input--radio(
    //-       name='newPatient'
    //-       v-model='newPatient'
    //-       value='No'
    //-       type='radio')
    //-     span.sponsor-form__radio-overlay
    //-     label.sponsor-form__label No

    //- .sponsor-form__group
    //-   textarea.sponsor-form__textarea(
    //-     name='message'
    //-     v-model='message',
    //-     v-validate="'required'"
    //-     :class="{ 'sponsor-form__textarea--error': errors.has('message') }"
    //-     type='textarea'
    //-     rows='4'
    //-     placeholder='Message')
    //-   .sponsor-form__error-container
    //-     span(v-show="errors.has('message')") Send us a message!
        
    .sponsor-form__button-group
      button.sponsor-form__submit-button(type='submit', :disabled='formSubmitted') 
        span Submit
      .sponsor-form__spinner(v-if='formSubmitted')
        span Sending
