.hero-mobile
  .hero-mobile__overlay
  //- .hero-mobile__home(v-show='$route.path === "/"', :style="{backgroundImage: 'url(static/home-mobile.jpg)'}")
  //- I am sorry for this disorganization of a file. props weren't working and I was in a rush.
  .hero-mobile__home(v-show='$route.path === "/"')
    //- h2.hero-mobile__hero-title {{ props.acf.custom_home_hero_message.mobile_title }}
    //- hr.hero-mobile__hr-single-px
    //- .hero-mobile__hero-message(v-html='props.acf.custom_home_hero_message.message')
    //- .hero-mobile__hero-message We are temporarily closed and all in-office appointments are cancelled through April 30th, 2020.
    //- .hero-mobile__hero-message If you are experiencing an orthodontic emergency please call 585-905-4500.
    video.hero-mobile__video(loop muted autoplay v-load-directive='')
      source.hero-mobile__source(:src='props.acf.hero_video' type='video/mp4', :poster='props.acf.poster')
      | Your browser does not support video.
    //- a.hero-mobile__facebook-button(href='https://www.facebook.com/pg/mattiacioortho/videos/' target='_blank')
    //-   span Facebook Video Updates
    //-   Icon.footer__rewards-icon(name='arrow')
    //- .hero-mobile__hero-message During this temporary shutdown Dr. Mattiacio will be seeing New and Existing patients VIRTUALLY. 
    //- .hero-mobile__hero-message To schedule a virtual consultation or routine exam click on the option below.
    
    //- a.hero-mobile__appt(href="https://calendly.com/mattiacio")
    //-   span Virtual Consultation: 
    //-   br 
    //-   span New and Existing Patients

    //- a.hero-mobile__appt#virtual(href="https://formsroostergrin.com/mattiacioortho/virtual-page/index.html")
    //-   span Virtual Smile Assessment
    .hero-mobile__buttons
      // a.hero-mobile__button(v-if='props.acf.covid_19_button.label && props.acf.covid_19_button.href'
        v-html='props.acf.covid_19_button.label'
        :href='props.acf.covid_19_button.href')
      a.hero-mobile__button(v-if='props.acf.virtual_services_button.label && props.acf.virtual_services_button.href'
        v-html='props.acf.virtual_services_button.label'
        :href='props.acf.virtual_services_button.href')

  .hero-mobile__about-us(
    v-show='$route.path === "/about-us"',
    :style="{backgroundImage: 'url(static/about-mobile-bg.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__new-pats(
    v-show='$route.path === "/new-patients"',
    :style="{backgroundImage: 'url(static/new-pats.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__treatments(
    v-show='$route.path === "/treatments"',
    :style="{backgroundImage: 'url(static/treatments.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__matt-diff(
    v-show='$route.path === "/mattiacio-difference"',
    :style="{backgroundImage: 'url(static/matt-diff-bg.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__invisalign(
    v-show='$route.path === "/invisalign"',
    :style="{backgroundImage: 'url(static/invisalign.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__contact(
    v-show='$route.path === "/contact-us"',
    :style="{backgroundImage: 'url(static/contact.jpg)'}"
    )
  .hero-mobile__covid(
    v-show='$route.path.includes("/covid-19-updates")',
    :style="{backgroundImage: 'url(static/covid-19-updates.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__virtual-services(
    v-show='$route.path.includes("/virtual-services")',
    :style="{backgroundImage: 'url(static/virtual-services.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__videos(
    v-show='$route.path.includes("/videos")',
    :style="{backgroundImage: 'url(static/mattiacio-videos-poster.png)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__virtual-consultation(
    v-show='$route.path.includes("/virtual-consultation")',
    :style="{backgroundImage: 'url(static/new-pats.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
