.hero-mobile
  .hero-mobile__overlay
  .hero-mobile__home(
    v-show='$route.path === "/"',
    :style="{backgroundImage: 'url(static/home-mobile.jpg)'}"
    )
    .hero-mobile__appt.openchair-widget
      span.openchair-widget Schedule Consultation
    a.hero-mobile__appt#virtual(href="https://formsroostergrin.com/mattiacioortho/virtual-page/index.html")
      span Virtual Smile Assessment
  .hero-mobile__about-us(
    v-show='$route.path === "/about-us"',
    :style="{backgroundImage: 'url(static/about-mobile-bg.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__new-pats(
    v-show='$route.path === "/new-patients"',
    :style="{backgroundImage: 'url(static/new-pats.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__treatments(
    v-show='$route.path === "/treatments"',
    :style="{backgroundImage: 'url(static/treatments.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__matt-diff(
    v-show='$route.path === "/mattiacio-difference"',
    :style="{backgroundImage: 'url(static/matt-diff-bg.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__invisalign(
    v-show='$route.path === "/invisalign"',
    :style="{backgroundImage: 'url(static/invisalign.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
  .hero-mobile__contact(
    v-show='$route.path === "/contact-us"',
    :style="{backgroundImage: 'url(static/contact.jpg)'}"
    )
    .hero-mobile__title {{ $route.name }}
