footer.footer(v-if='props')
  .footer__top
    .footer__container
      .footer__top-row
        .footer__item
          a.footer__patient-login(:href='props.acf.links.login', target='_blank')
            span Patient Login
        .footer__item
          .footer__icons
            a.footer__icon(
              v-for='(icon, i) in props.acf.social_links'
              v-if='icon.label != "phone"'
              :href='icon.href'
              target='_blank'
            )
              Icon(:name='icon.icon', :class='"footer__" + icon.label')
        .footer__item
          a.footer__rewards(:href='props.acf.links.rewards', target='_blank')
            span Rewards Center
            Icon.footer__rewards-icon(name='arrow')

  div(style="display:inline-block;min-width:200px;")
    .footer__bottom
      .footer__bottom--third
        //- a.footer__badge(href='https://pcihipaa.com/certified-hipaa-compliance/' target='_blank')
        img.footer__bottom--hipaa(
          src='https://cpwk.cloud/wp-content/uploads/2019/04/pcihipaa_logo.png'
          alt='Certified HIPAA Compliance Provided by PCIHIPAA'
        )
      .footer__bottom--third
        a.footer__phone(:href='props.acf.social_links[0].href')
          | Call or Text Us Anytime
          br
          | 585. 742. 1050
        a.footer__address(v-html='props.acf.address.text', :href='props.acf.address.href', target='_blank')

        .footer_address2
          a.footer__address(v-if='props.acf.address_new.text' v-html='props.acf.address_new.text', :href='props.acf.address_new.href', target='_blank')
      .footer__bottom--third
        a.footer__badge(href='https://interpret.cyracom.com/' target='_blank')
          img.footer__svg(
            src='https://interpret.cyracom.com/wp-content/themes/cyra/dist/images/logo.svg'
            alt='Cyracom interpretation services'
            style='width:200px; height:124px;'
          )
      .footer__roostergrin
        | Powered by RoosterGrin
