.family-fun-form
  form.family-fun-form__form(@submit.prevent='validate', method='post')

    .family-fun-form__group
      input.family-fun-form__input(
        name='full-name'
        v-model='fullName'
        v-validate="'required|alpha_spaces'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('full-name') }"
        type='text'
        placeholder="Player's Name")
      .family-fun-form__error-container
        span(v-show="errors.has('full-name')") Player's name is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='dob1'
        v-model='dob1'
        v-validate="'required'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('dob1') }"
        type='text'
        placeholder="Player's Date of Birth")
      .family-fun-form__error-container
        span(v-show="errors.has('dob1')") Player's date of birth is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='your-parent-guardian'
        v-model='yourParentGuardian'
        v-validate="'required|alpha_spaces'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('your-parent-guardian') }"
        type='text'
        placeholder="Parent/Guardian name")
      .family-fun-form__error-container
        span(v-show="errors.has('your-parent-guardian')") Parent/Guardian name is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='phone'
        v-model='phone'
        v-validate='{regex: /^\\D?(\\d{3})\\D?\\D?(\\d{3})\\D?(\\d{4})$/}'
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('phone') }"
        type='phone'
        placeholder='Phone')
      .family-fun-form__error-container
        span(v-show="errors.has('phone')") Valid phone number is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='email'
        v-model='email'
        v-validate="'email'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('email') }"
        placeholder='Email Address')
      .family-fun-form__error-container
        span(v-show="errors.has('email')") Valid Email is required.

    .family-fun-form__group-inline-center
      p Which Session Will you be Attending?
    .family-fun-form__group
      select.family-fun-form__input(
        name='selected'
        v-model='selected'
        required=''
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('selected') }")
        option(
          selected=''
          disabled=''
          :value='null'
          :class="{ 'input': true, 'family-fun-form__input--error': errors.has('selected') }")
          option.family-fun-form__label Please Select One
        optgroup(label='Friday, July 11th | Farmington Location')
          option(
            value='Friday, July 11th | Farmington Location | Flag - 4:00-4:30')
            option.family-fun-form__label Flag - 4:00-4:30
          option(
            value='Friday, July 11th | Farmington Location | C Teams - 4:30-5:00')
            option.family-fun-form__label C Teams - 4:30-5:00
          option(
            value='Friday, July 11th | Farmington Location | B Teams - 5:00-5:30')
            option.family-fun-form__label B Teams - 5:00-5:30
          option(
            value='Friday, July 11th | Farmington Location | A Team - 5:30-6:00')
            option.family-fun-form__label A Team - 5:30-6:00

      .family-fun-form__error-container
        span(v-show="errors.has('selected')") Valid date is required.

    .family-fun-form__button-group
      button.family-fun-form__submit-button(type='submit', :disabled='formSubmitted')
        span Submit
      .family-fun-form__spinner(v-if='formSubmitted')
        span Sending


//- The following is the previous form for Dumbo movie night event

//- .family-fun-form
//-   form.family-fun-form__form(@submit.prevent='validate', method='post')

//-     .family-fun-form__group
//-       input.family-fun-form__input(
//-         name='full-name'
//-         v-model='fullName'
//-         v-validate="'required|alpha_spaces'",
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('full-name') }"
//-         type='text'
//-         placeholder="Full Name")
//-       .family-fun-form__error-container
//-         span(v-show="errors.has('full-name')") Full name is required.


//-     .family-fun-form__group
//-       input.family-fun-form__input(
//-         name='phone'
//-         v-model='phone'
//-         v-validate='{regex: /^\\D?(\\d{3})\\D?\\D?(\\d{3})\\D?(\\d{4})$/}',
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('phone') }"
//-         type='phone'
//-         placeholder='Phone')
//-       .family-fun-form__error-container
//-         span(v-show="errors.has('phone')") Valid phone number is required.

//-     .family-fun-form__group
//-       input.family-fun-form__input(
//-         name='email'
//-         v-model='email'
//-         v-validate="'email'",
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('email') }"
//-         placeholder='Email Address')
//-       .family-fun-form__error-container
//-         span(v-show="errors.has('email')") Valid Email is required.

//-     .family-fun-form__group Number of Guests You'll be Bringing
//-       input.family-fun-form__input(
//-         name='how-many'
//-         v-model='howMany'
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('how-many') }"
//-         type='number'
//-         placeholder="Additional guests")

//-     .family-fun-form__group Don't forget to Register a friend!
//-     input.family-fun-form__input(
//-     name='full-name-friend'
//-     v-model='fullNameFriend'
//-     :class="{ 'input': true }"
//-     type='text'
//-     placeholder="Friends' Full Name")

//-     .family-fun-form__button-group
//-       button.family-fun-form__submit-button(type='submit', :disabled='formSubmitted')
//-         span Submit
//-       .family-fun-form__spinner(v-if='formSubmitted')
//-         span Sending
