.family-fun-form
  form.family-fun-form__form(@submit.prevent='validate', method='post')

    .family-fun-form__group
      input.family-fun-form__input(
        name='full-name'
        v-model='fullName'
        v-validate="'required|alpha_spaces'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('full-name') }"
        type='text'
        placeholder="Player's Name")
      .family-fun-form__error-container
        span(v-show="errors.has('full-name')") Player's name is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='your-grade'
        v-model='yourGrade'
        v-validate="'required'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('your-grade') }"
        type='text'
        placeholder="Player's Grade")
      .family-fun-form__error-container
        span(v-show="errors.has('your-grade')") Player's grade is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='your-lax-program'
        v-model='yourLaxProgram'
        v-validate="'required'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('your-lax-program') }"
        type='text'
        placeholder="Name of LAX program")
      .family-fun-form__error-container
        span(v-show="errors.has('your-lax-program')") Lax program is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='your-parent-guardian'
        v-model='yourParentGuardian'
        v-validate="'required|alpha_spaces'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('your-parent-guardian') }"
        type='text'
        placeholder="Parent/Guardian name")
      .family-fun-form__error-container
        span(v-show="errors.has('your-parent-guardian')") Parent/Guardian name is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='phone'
        v-model='phone'
        v-validate='{regex: /^\\D?(\\d{3})\\D?\\D?(\\d{3})\\D?(\\d{4})$/}'
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('phone') }"
        type='phone'
        placeholder='Phone')
      .family-fun-form__error-container
        span(v-show="errors.has('phone')") Valid phone number is required.

    .family-fun-form__group
      input.family-fun-form__input(
        name='email'
        v-model='email'
        v-validate="'email'"
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('email') }"
        placeholder='Email Address')
      .family-fun-form__error-container
        span(v-show="errors.has('email')") Valid Email is required.

      .family-fun-form__group-inline
          p Male/Female?
          .family-fun-form__radio-group
            input.family-fun-form__input--radio(
              name='gender'
              v-model='gender'
              value='Male'
              type='radio')
            span.family-fun-form__radio-overlay
            label.family-fun-form__label Male
          .family-fun-form__radio-group
            input.family-fun-form__input--radio(
              name='gender'
              v-model='gender'
              value='Female'
              type='radio')
            span.family-fun-form__radio-overlay
            label.family-fun-form__label Female

    .family-fun-form__group-inline-center
      p Which Session Will you be Attending?
    .family-fun-form__group
      select.family-fun-form__input(
        name='selected'
        v-model='selected'
        type='selected'
        required=''
        :class="{ 'input': true, 'family-fun-form__input--error': errors.has('selected') }")
        option(
          selected=''
          disabled=''
          :value='null'
          :class="{ 'input': true, 'family-fun-form__input--error': errors.has('selected') }")
          option.family-fun-form__label Please Select One
        option(
          value='Saturday, March 4th | Mercy | 9:00am')
          option.family-fun-form__label Saturday, March 4th | Mercy | 9:00am
        option(
          value='Saturday, March 4th | Brighton | 9:00am')
          option.family-fun-form__label Saturday, March 4th | Brighton | 9:00am
        option(
          value='Saturday, March 4th | Hilton | 9:45am')
          option.family-fun-form__label Saturday, March 4th | Hilton | 9:45am
        option(
          value='Saturday, March 4th | Individual | 10:00am')
          option.family-fun-form__label Saturday, March 4th | Individual | 10:00am
        option(
          value='Saturday, March 18th | Victor Girls | 9:00-9:45am')
          option.family-fun-form__label Saturday, March 18th | Victor Girls | 9:00-9:45am
        option(
          value='Saturday, March 18th | Victor Boys | 9:45-10:30am')
          option.family-fun-form__label Saturday, March 18th | Victor Boys | 9:45-10:30am
        option(
          value='Saturday, March 18th | Canandaigua Boys and Girls | 10:30-11:00am')
          option.family-fun-form__label Saturday, March 18th | Canandaigua Boys and Girls | 10:30-11:00am
        option(
          value='Saturday, March 18th | Marcus Whitman Boys and Girls | 10:30-11:00am')
          option.family-fun-form__label Saturday, March 18th | Marcus Whitman Boys and Girls | 10:30-11:00am
        option(
          value='Saturday, March 18th | Penn Yan Boys and Girls | 11:00-11:30am')
          option.family-fun-form__label Saturday, March 18th | Penn Yan Boys and Girls | 11:00-11:30am
        option(
          value='Saturday, March 18th | Bloomfield/Honeoye Girls and Boys | 11:00-11:30am')
          option.family-fun-form__label Saturday, March 18th | Bloomfield/Honeoye Girls and Boys | 11:00-11:30am
        option(
          value='Saturday, March 18th | Phelps Community Center | 11:30-12:00pm')
          option.family-fun-form__label Saturday, March 18th | Phelps Community Center | 11:30-12:00pm
        option(
          value='Saturday, March 18th | Clifton Springs YMCA | 12:00-12:30pm')
          option.family-fun-form__label Saturday, March 18th | Clifton Springs YMCA | 12:00-12:30pm
        option(
          value='Saturday, March 18th | Midlakes School Program | 12:00-12:30pm')
          option.family-fun-form__label Saturday, March 18th | Midlakes School Program | 12:00-12:30pm
        option(
          value='Saturday, March 18th | Individual | 12:30-1:00pm')
          option.family-fun-form__label Saturday, March 18th | Individual | 12:30-1:00pm

      .family-fun-form__error-container
        span(v-show="errors.has('selected')") Valid date is required.

    .family-fun-form__button-group
      button.family-fun-form__submit-button(type='submit', :disabled='formSubmitted')
        span Submit
      .family-fun-form__spinner(v-if='formSubmitted')
        span Sending


//- The following is the previous form for Dumbo movie night event

//- .family-fun-form
//-   form.family-fun-form__form(@submit.prevent='validate', method='post')

//-     .family-fun-form__group
//-       input.family-fun-form__input(
//-         name='full-name'
//-         v-model='fullName'
//-         v-validate="'required|alpha_spaces'",
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('full-name') }"
//-         type='text'
//-         placeholder="Full Name")
//-       .family-fun-form__error-container
//-         span(v-show="errors.has('full-name')") Full name is required.


//-     .family-fun-form__group
//-       input.family-fun-form__input(
//-         name='phone'
//-         v-model='phone'
//-         v-validate='{regex: /^\\D?(\\d{3})\\D?\\D?(\\d{3})\\D?(\\d{4})$/}',
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('phone') }"
//-         type='phone'
//-         placeholder='Phone')
//-       .family-fun-form__error-container
//-         span(v-show="errors.has('phone')") Valid phone number is required.

//-     .family-fun-form__group
//-       input.family-fun-form__input(
//-         name='email'
//-         v-model='email'
//-         v-validate="'email'",
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('email') }"
//-         placeholder='Email Address')
//-       .family-fun-form__error-container
//-         span(v-show="errors.has('email')") Valid Email is required.

//-     .family-fun-form__group Number of Guests You'll be Bringing
//-       input.family-fun-form__input(
//-         name='how-many'
//-         v-model='howMany'
//-         :class="{ 'input': true, 'family-fun-form__input--error': errors.has('how-many') }"
//-         type='number'
//-         placeholder="Additional guests")

//-     .family-fun-form__group Don't forget to Register a friend!
//-     input.family-fun-form__input(
//-     name='full-name-friend'
//-     v-model='fullNameFriend'
//-     :class="{ 'input': true }"
//-     type='text'
//-     placeholder="Friends' Full Name")

//-     .family-fun-form__button-group
//-       button.family-fun-form__submit-button(type='submit', :disabled='formSubmitted')
//-         span Submit
//-       .family-fun-form__spinner(v-if='formSubmitted')
//-         span Sending
